/* Stor Skjerm ------------------------------------------------------------------------------------------- */

@media screen and  (min-width: 1001px){
body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(rgb(194, 225, 255), rgb(255, 244, 182));
}

.Header-Image{
 background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Side4/Images/technology.png);
 height: 400px;
 width: 100%;
 background-position: center;
 background-repeat:no-repeat;
 background-size: cover;
 position: relative;
 text-align: center;
 display: inline-block;
}

.Main-Title{
  position: relative;
  letter-spacing: 3px;
  color: dodgerblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  text-shadow: 5px 5px 10px black;
  top: 30%;
}

.Main-Title:hover{
  zoom: 1.145; 
  color: rgb(57, 103, 255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Navbar {
  width: 100%;
  line-height: 2.3em;
  background-color: none;
  text-align: center;
  display: inline-block;
  left: 0;
  right: 0;
  align-items: center;
}

li {
  list-style: none;
  display: inline-block;
}

.Navbar a{
  text-decoration: none;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  color: dodgerblue;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  letter-spacing: 4px;
  margin: 30px 30px;
}

.Navbar a:hover{
  background-image: linear-gradient(to bottom left, red, yellow);
  color: #130f40;
  border-radius: 20px;
  border-style: solid;
  transition: 0.2s;
  color: rgb(57, 103, 255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: underline;
}

.container{
  display: grid;
  grid-template-rows: repeat(2, 900px);
  grid-template-columns: repeat(1fr 1fr 1fr); 
  column-rule: #130f40;
  column-rule-style: solid;
  row-gap: 20px;
  text-align: justify;
  font-size: 16px; 
  letter-spacing: 2px;
}

h2{
  text-align: center;
  font-size: 32px;
  line-height: 1.3em;
  color: dodgerblue;
}

.topictext1{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 75%;
  height: 100%;
  margin-left: 10%;
  margin-top: 10px;
  line-height: 1.7em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  overflow: scroll;
}

.topicbilde1{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  align-items: center;
}

.topictext2{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  width: 80%;
  margin-left: 10%; 
  margin-top: 40px;
  line-height: 1.7em;
  font-family:Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 15px;
  overflow: scroll;
}

.topicbilde2{
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 2;
grid-row-end: 2;
align-items: center;

}

.topictext1:hover,.topictext2:hover{
  zoom: 1.1;
  color: dodgerblue;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  line-height: 1.6em;
}

.topictext1 a, .topictext2 a{
  color:rgb(26, 106, 255);
  text-decoration: none;
}

.topictext1 a:hover, .topictext2 a:hover{
  zoom: 1.2;
}

.topic-img1{ 
  height: 55%;
  width: 70%;
  margin-left: 15%;
  border-style: solid;
  border-radius: 20px;
  margin-top: 30%;
}

.topic-img1:hover{
  zoom: 1.05;
}

.topic-img2{
  height: 55%;
  width: 70%;
  margin-left: 15%;
  border-style: solid;
  border-radius: 20px;
  margin-top: 30%;
}

.topic-img2:hover{
  zoom: 1.05;
}

footer{
  height: 300px;
}

.footer-info{
  margin-top: 25px;
  border-top: dotted 8px dodgerblue; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5%;
  line-height: 2em;
  font-size: 38px;
}

.footer-info a{
    color: dodgerblue;
    font-weight: 700;
    text-decoration: none;
    margin-top: 7%
}

.footer-info a:nth-child(1){
  margin-left: 10%;
}

.footer-info a:nth-child(3){
  margin-right: 10%;
}
}

/* Middels Skjerm ------------------------------------------------------------------------------------------- */


@media screen and (max-width: 1000px)
{
  body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgb(194, 225, 255), rgb(255, 244, 182));
  }
  
  
  .Header-Image{
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Side4/Images/technology.png);
   height: 50vh;
   width: 100%;
   background-position: center;
   background-repeat:no-repeat;
   background-size: cover;
   position: relative;
   text-align: center;
   display: inline-block;
   margin-bottom: 20px;
  }
  
  .Main-Title{
    position: relative;
    letter-spacing: 3px;
    color: dodgerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    text-shadow: 5px 5px 10px black;
    top: 75%;
  }
  
  .Main-Title:hover{
    zoom: 1.145; 
    color: rgb(57, 103, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .Navbar {
    width: 100%;
    line-height: 2.3em;
    background-color: none;
    text-align: center;
    display: inline-block;
    left: 0;
    right: 0;
    align-items: center;
  }
  
  li {
    list-style: none;
    display: inline-block;
  }
  
  .Navbar a{
    text-decoration: none;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: dodgerblue;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 8px;
    padding-right: 8px;
    letter-spacing: 4px;
    margin: 3px 3px;
  }
  
  .Navbar a:hover{
    background-image: linear-gradient(to bottom left, red, yellow);
    color: #130f40;
    border-radius: 20px;
    border-style: solid;
    transition: 0.2s;
    opacity: 0.6;
    color: rgb(57, 103, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
  }
  
  .container{
    display: grid;
    grid-template-rows: repeat(2fr 1fr 2fr 1fr);
    grid-template-columns: repeat(1fr 2fr 1fr);
    column-rule: #130f40;
    column-rule-style: solid;
    row-gap: 100px;
    text-align: justify;
    font-size: 16px; 
    letter-spacing: 2px;
  }
  
  h2{
    text-align: center;
    font-size: 32px;
    line-height: 1.3em;
  }
  
  .topictext1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 80%;
    height: 80%;
    margin-left: 10%; 
    margin-top: 10%;
    line-height: 1.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
  }
  
  .topicbilde1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    align-items: center;
  }
  
  .topictext2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 80%;
    margin-left: 10%; 
    line-height: 1.7em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
  }
  
  
  
  .topicbilde2{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
  align-items: center;
  
  }
  
  .topictext1:hover, .topictext2:hover{
    zoom: 1.1;
    font-size: 15px;
    line-height: 1.6em;
    color: dodgerblue;
  }
  
  .topictext1 a, .topictext2 a{
    color:rgb(26, 106, 255);
    text-decoration: none;
  }
  
  .topictext1 a:hover, .topictext2 a:hover{
    zoom: 1.2;
  }
  
  .topic-img1{
    height: 70%;
    width: 70%;
    margin-left: 15%;
    border-style: solid;
    border-radius: 20px;
  }
  
  .topic-img1:hover{
    zoom: 1.05;
  }
  
  .topic-img2{
    height: 70%;
    width: 70%;
    margin-left: 15%;
    border-style: solid;
    border-radius: 20px;
  }
  
  .topic-img2:hover{
    zoom: 1.05;
  }
  
  footer{
    height: 200px;
  }

  .footer-info{
    margin-top: 25px;
    border-top: dotted 8px dodgerblue; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5%;
    line-height: 2em;
    font-size: 38px;
  }
  
  .footer-info a{
      color: dodgerblue;
      font-weight: 700;
      text-decoration: none;
      margin-top: 7%
  }
  
  .footer-info a:nth-child(1){
    margin-left: 10%;
  }
  
  .footer-info a:nth-child(3){
    margin-right: 10%;
  }
}



/* Liten Skjerm ------------------------------------------------------------------------------------------- */

@media (max-width: 420px){
  body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgb(194, 225, 255), rgb(255, 244, 182));
  }
  
  
  .Header-Image{
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Side4/Images/technology.png);
   height: 20vh;
   width: 100%;
   background-position: center;
   background-repeat:no-repeat;
   background-size: cover;
   position: relative;
   text-align: center;
   display: inline-block;
   margin-bottom: 20px;
  }
  
  .Main-Title{
    position: relative;
    letter-spacing: 3px;
    color: dodgerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    letter-spacing: 5px;
    text-shadow: 5px 5px 10px black;
    top: 80%;
  }
  
  .Main-Title:hover{
    zoom: 1.145; 
    color: rgb(57, 103, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .Navbar {
    width: 100%;
    line-height: 2.3em;
    background-color: none;
    text-align: center;
    display: block;
    align-items: center;
  }
  
  ul{
    padding: 0;
    border-top: 2px solid dodgerblue;
    border-bottom: 2px solid dodgerblue;
    background-image: linear-gradient(to right, rgb(194, 225, 255), rgb(255, 244, 182), rgb(194, 225, 255) );
  }

  li {
    list-style: none;
    display: block;

  }
  
  .Navbar a{
    text-decoration: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: dodgerblue;
    text-shadow: 7px 7px 12px black;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    letter-spacing: 4px;
    margin: 5px 5px;
  }
  
  .Navbar a:hover{
    background-image: linear-gradient(to bottom left, red, yellow);
    color: #130f40;
    border-radius: 20px;
    border-style: solid;
    transition: 0.2s;
    opacity: 0.6;
    color: rgb(57, 103, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
  }
  
  .container{
    display: grid;
    grid-template-rows: repeat(1fr 1fr 1fr 1fr);
    grid-template-columns: repeat(1fr 2fr 1fr);
    row-gap: 5%;
    text-align: justify;
    font-size: 16px; 
    letter-spacing: 2px;
  }
  
  h2{
    text-align: center;
    font-size: 16px;
    line-height: 1.3em;
  }
  
  .topictext1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 80%;
    height: 100%;
    margin-left: 10%; 
    margin-top: 10%;
    line-height: 1.7em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    z-index: 1;
    overflow: scroll;
  }
  
  .topicbilde1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    align-items: center;
  }
  
  .topictext2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    width: 80%;
    height: 100%;
    margin-left: 10%; 
    line-height: 1.7em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    overflow: scroll;
  }
  
.topictext1:hover, .topictext2:hover{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: dodgerblue;
}

  
  .topicbilde2{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
  align-items: center;
  
  }
  
  .topictext1 a, .topictext2 a{
    color:rgb(26, 106, 255);
    text-decoration: none;
  }
  
  
  .topic-img1{
    height: 100%;
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    border-style: solid;
    border-radius: 20px;
  }
  
  .topic-img1:hover{
    zoom: 1.05;
  }
  
  .topic-img2{
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-top: 0px;
    border-style: solid;
    border-radius: 20px;
  }
  
  .topic-img2:hover{
    zoom: 1.05;
  }
  
  footer{
    height: 150px;
    margin-top: 10%;
  }
  
  .footer-info{
    margin-top: 25px;
    border-top: dotted 8px dodgerblue; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5%;
    line-height: 2em;
    font-size: 18px;
  }
  
  .footer-info a{
      color: dodgerblue;
      font-weight: 700;
      text-decoration: none;
      margin-top: 15%
  }
  
  .footer-info a:nth-child(1){
    margin-left: 10%;
  }
  
  .footer-info a:nth-child(3){
    margin-right: 10%;
  }
}