body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

.navbar {
  width: 100%;
  line-height: 100px;
  background-color: #c0392b;
  text-align: center;
  display: inline-block;
  align-items: center;
}

li {
  list-style: none;
  display: inline-block;
}

.navbar a{
  text-decoration: none;
  font-size: 18px;
  font-family: Cambria;
  font-weight: 500;
  color: white;
  padding: 20px;
  letter-spacing: 4px;
  margin: 28px 28px;
}

.navbar a:hover{
  background-color: white;
  color: #130f40;
  border-radius: 20px;
  border-style: solid;
}
  
.åpningstider {
  font-family: Cambria;
  font-weight: 200;
  width: 50%;
  height: 800px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 25%;
  margin-right: 25%;
  background-color: white;
  font-size: 40px;
  line-height: 2;

}

.åpningstider h2{
  text-decoration: underline;
}

footer {
  margin-top: 100px;
  background-image: linear-gradient(#c0392b, rgb(248, 114, 114));
  border-style: solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.Links{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 1;
  margin-top: 6%;
  margin-left: 12%;
  line-height: 2em;
  font-size: 35px;
}

.Links a{
  color: dodgerblue;
  font-weight: 700;
  text-decoration: none;
}

.Links a:hover{
  zoom: 1.2;
}

footer p {
  margin-top: 6%;
  margin-right: 20px;
  text-align: justify; 
  font-size: 24px;
  line-height: 2.8em;
  grid-column-start: 2;
  grid-column-end: 2;
}



